@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
};


@mixin centerPositionedElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/* 
    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800] // This is our defined styling    
    1800 + : larger desktop
*/

// Defination
/* @mixin phoneRespond {
    @media (max-width: 37.5em) {
        @content
    };
} */

// Usage
/*
html {
    @include phoneResond {
        // any styling we put here will replace the @content directive
    }
}
*/





@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        // 600px == 600/16 == 37.5em
        @media only screen and (max-width: 37.5em) {
            @content
        };
    }

    @if $breakpoint==tab-portrait {
        // 900px == 900/16 == 56.25em
        @media only screen and (max-width: 56.25em) {
            @content
        };
    }

    @if $breakpoint==tab-landscape {
        // 1200px == 1200/16 == 75em
        @media only screen and (max-width: 75em) {
            @content
        };
    }

    @if $breakpoint==big-desktop {

        // 1800px == 1200/16 == 75em
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ;
    }

    
}
