.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 4.5rem;
        right: 4.5rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;

        @include respond(tab-portrait) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-portrait) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        transform: translateY(-70rem);
        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include centerPositionedElement;
        list-style: none;
    }

    &__item {
        text-align: center;
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: .4s all;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // HOVER FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(60);
    } 

    &__checkbox:checked ~ &__nav {
        transform: translateY(0);
        opacity: 1;
    }

    // ICON
    &__icon {
        @include centerPositionedElement;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }


    &__button:hover &__icon::before {
        top: -1rem;
        background-color: $color-primary-dark;
        
    }

    &__button:hover &__icon::after {
        top: 1rem;
        background-color: $color-primary-dark;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }   

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(135deg);
    }


}