body {
    font-family: 'Lato', sans-serif;
    /*line-height is 1.6 times the default line-height*/
    line-height: 1.6;
    font-weight: 400;
    color: $color-grey-dark-1;
}



.heading-primary {

    /* We set this property to prevent shaky animation */
    backface-visibility: hidden;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 5rem;

    &--main {
        
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 2.7rem;
        display: block;

        animation-name: moveLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* 
        animation: moveLeft 1s ease-out;
    */

        @include respond(phone) {
            font-size: 4rem;
            letter-spacing: 1rem;
        }

    }

    &--sub {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1.2rem;
        display: block;
        animation: moveRight 1s ease-out;

        @include respond(phone) {
            font-size: 1.5rem;
            letter-spacing: .5rem;
        }
    }

}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    /* set background to occupy only where text are, meaining only behind the text*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

   &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
   }

   @include respond(tab-portrait) {
       font-size: 2.5rem;
   }

   @include respond(phone) {
       font-size: 2rem;
   }
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

